spring:
  application:
    name: platforms
  datasource:
    url: jdbc:postgresql://localhost:5432/platforms_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8082
auth:
  service:
    url: http://localhost:9000

minio:
  endpoint: ${MINIO_ENDPOINT:http://localhost:11000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin}
  bucket-name: ${MINIO_BUCKET_NAME:platforms}
