spring:
  application:
    name: be
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true
server:
  port: 9002
auth:
  service:
    url: http://localhost:9000
jwt:
  secret: ${JWT_SECRET:default_secret_key_which_should_be_very_long_in_production}
  access-token-expiration: 3600000  # 1 hour
  refresh-token-expiration: 86400000 # 24 hours
